<section class="section">
    <div class="container">
        <div class="heading">
            <div class="columns">
                <div class="column is-8 is-offset-one-quarter">
                    <h1 class="title is-1">Quotes</h1>
                    <h3 class="subtitle is-3 is-right">for Nerds</h3>

                    <p class="is-info notification center-image">
                        <img class="image" src="/images/Calvin_Quote.jpg">
                    </p>

                    <p class="is-info notification center-image">
                        <img class="image" src="/images/quotes.jpg">
                    </p>

                    <p class="is-info notification center-image">
                        <img class="image" src="/images/be%20kind_quotes.jpg">
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>