<!-- Hero header: will stick at the top -->
<div class="hero-header">
    <header class="header">
        <div class="container">
            <div class="header-left">
                <div class="header-item">
                    <a class="title" href="#/">Bookmarks for Booknerds</a>
                </div>
            </div>
            <span class="header-toggle">
              <span></span>
              <span></span>
              <span></span>
            </span>
            <div class="header-right header-menu">
                <a class="header-item" href="#/prints">Prints</a>
                <a class="header-item" href="#/quotes">Quotes</a>
                <a class="header-item" href="#/misc">Misc</a>
                <a class="header-item" href="#/about">About</a>
            </div>
        </div>
    </header>
</div>