<section class="section">
    <div class="container">
        <div class="heading">
            <h1 class="title is-1">Bookmarks</h1>
            <h3 class="subtitle is-3 is-right">for Booknerds</h3>

            <div class="container">
                <div class="notification">
                    This site is made by booknerds for booknerds.
                    Hopefully you will be able to find what you
                    need in a fun and creative way!
                </div>
            </div>
        </div>
    </div>
</section>