<section class="section" ng-controller="uploadController">
    <div class="columns">
        <div class="column is-8 is-offset-one-quarter">
            <h1 class="title">Upload new Bookmark!</h1>
            <h2 class="subtitle">Upload an image background for your bookmark!</h2>
            <p class="control has-addons">
                <input class="input is-primary" type="file" upload="bookmarkImage"/>
                <button class="button is-primary" ng-click="uploadFile()">Upload</button>
            </p>
        </div>
    </div>
</section>